.entity-management {
 margin-top: 5px;
 padding: 5px;	
}

.element-block {
	
}

.entity-title {
 font-size: 1em;
 font-weight: bold;	
 margin-top: 2px;
 margin-bottom: 0px;
}

/* ------ Elements container ----- */

.elements-container {
	
}

.elements-description {
	
}

.elements-list {
  padding-bottom: 10px;	
  margin-bottom: 5px;
  //min-height: 30em; // NO LIMITAMOS EL TAMAÑO MÍNIMO
}

.no-data-message {
  text-align: center;	
  margin: 20px 10px 10px 10px;
  font-weight: bold;
}

/* ------ ELEMENT view  --------- */

.element-container {
	
}

.element-navigation-detail {
 cursor: pointer;
 cursor: hand;		
}

.element-row-selector {
 cursor: pointer;
 cursor: hand;    
}

.element-detail {
 padding: 5px;	
 margin-top: 5px;
 margin-bottom: 5px;
}

.element_template_actions {
 overflow: hidden;
}


.element_template_actions_buttons {
 margin-top: 5px;
 float: right;	
}

.entity-id {

 padding: 5px;
 background: yellow;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;	 
	
}

.entity-field {
 padding: 5px;	
 border-bottom: 1px dotted gray;
 overflow: hidden;
}

.entity-fieldlabel {
 font-weight: bold;	
 display: inline-block;
 vertical-align: top;
 width: 25%;
 padding-top: 5px;
 padding-bottom: 5px;
}

.entity-fieldvalue {
 display: inline-block;
 width:70%;
 margin-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
}

.entity-block-title {
  margin-top: 2px;
  margin-bottom: 2px;
}

.indentation {
  width : 20px;
  display: inline-block;	
}

.entity-block { /* It defines a block to structure extra entity information or process */
	
  border: 1px black solid;	
  
  margin-top: 5px;
  margin-bottom: 5px;
  
  padding: 5px; 
  
  overflow: hidden;
	
}

/* ------ ELEMENT form --------- */

.element-form-container {
 	
}

.element-form-detail {

}

.form-fields  {	
 padding: 5px;
 margin-top: 5px;
 margin-bottom: 5px;
 //border: 1px solid gray;
 //-webkit-border-radius: 5px;
 //-moz-border-radius: 5px;
 //border-radius: 5px;	
}

.form-title {
  margin-top: 2px;
  margin-bottom: 0px;	
}

.fieldtitle {
  font-weight: bold;
  padding-top: 5px;
}

.fieldcontrol {
 padding: 5px;
 border: 1px solid gray;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;	  
}

/* ----- Navigation bars ----- */

.navigation-bar {
/* 	
 padding: 10px;	
 background: #EEE;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;	
 */
 overflow: hidden;	
}

.navigation-bar-title {
  float: left;	
}

.navigation-bar-search {
  float: right;	
  display: none; /* IN THIS VERSION it's not shown */
}

.navigation-bar-crud-buttons {
  float: left;	
}

.navigation-bar-nav-buttons {
 float: right;	
}

.top-navigation-bar {
 
 padding-bottom: 5px;
 margin-bottom: 5px;
 border-bottom : 1px solid gray;

}

.elements-summary {
 margin-right: 10px;	
}

.bottom-navigation-bar {

 padding-top: 5px;
 border-top : 1px solid gray;
 clear: both;
 
}

/* ----- Buttons ------ */

.entity-management-button {
  min-width: 70px;	
  border: 1px solid gray;
  background: #DDD;	
}

.previous-page-button {
	
}

.next-page-button {
	
}

.previous-element-button {
	
}

.next-element-button {
	
}

.navigation-button {

}

.page-navigation { // Button to change from entity navigation to page navigation
	
}

/* ------ Crud Buttons ------ */

.action-button {

}

.new-entity-button {

  background: maroon;
  color: white;
	
}

.edit-entity-button {
	
}

.create-entity-button {
	
}

.update-entity-button {
	
}

.cancel-entity-button {
	
}

.delete-entity-button {
	
}

/* -------- Form messages --------- */

.entity-message {

 border: 1px dotted gray;
 padding: 5px;
 margin: 5px 0px 20px 0px;
 text-align: center;
 display: block;
	
}

.entity-message-ok {

 color: darkBlue;	 	
	
}

.entity-message-error {

 color: Maroon;
	
}

/* --------- ------------- */

.entity-status-bar {
	
}
